wandb
onnx
pyyaml
timm
visdom
opencv-python==4.5.3.56
opencv_python_headless==4.5.3.56
tensorboardX
albumentations
requests-oauthlib
oauthlib
six
omegaconf
pytorch_lightning
albumentations
torchsampler
segmentation_models_pytorch
transformers
lightning-bolts
pycocotools
rich